
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    box-sizing: border-box;
}
body {
    background-color: hsl(276, 17%, 54%);
}
header{
    width: 1oovw;
    height: 50px;
    background-color: blueviolet;
    text-align: center;
    text-transform: capitalize; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--color-secondary);
}
.showcase{
    padding: 12px;
    display: flex;
    gap: 10px;
} 
.banner{
    width: 80%;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/academic 1.jpg");
    text-align: center;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
} 
.banner h2{
    text-transform: capitalize;
    font-weight: 900;
}  
.banner p{
    font-weight: 500;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.formBtn{
    display: none;
}
.display{
    background-color: blueviolet;
    border-radius: 10px;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;
    width: 20%;
    cursor: alias;
} 
.display input, select{
    color: blueviolet;
    width: 100%;
    border-bottom: 1px solid #FFF;
    accent-color: blueviolet;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;
    margin: 5px auto;
}
.display input{
    width: 100%;
    height: 25px;
    text-transform: capitalize; 
}
.display button{
    width: 100%;
    height: 25px;
    border-radius: 50px;
    color: blueviolet;
    text-transform: capitalize;
}
.display button:hover{
    border: 1px solid #FFF;
    color: #FFF;
    background-color: blueviolet;
}
.note{
    text-align: center;
    padding-bottom: 5px;
}
.note span{
    font-weight: 800;
}
.title{
    width: 100%;
    height: 30px;
    background-color: blueviolet;
    padding: 0 25px;
    color: #FFF;
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 20px;
}
.services .card{
    background-color: #FFF;
}
.services .card .view{
    height: 250px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    transition: 1s ease-in-out;
}
.services .card .box{
    display: grid;
    padding: 10px;
    row-gap: 10px;
}
.services .card .box p {
    text-align: center;
    color: hsl(276, 17%, 54%);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 20px;
}
.services .card .box button{
    background-color: blueviolet;
    width: 100%;
    height: 25px;
    color: #FFF;
}
footer{
    width: 100%;
    height: 40px;
    background-color: blueviolet;
    color: hsl(276, 17%, 54%);
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
}
.dissertation1{
    background-image: url("../img/dissertation.jpg");
}
.dissertation2{
    background-image: url("../img/dissertation2.jpg");
}
.dissertation3{
    background-image: url("../img/dissertation3.jpg");
}
.coursework1{
    background-image: url('../img/coursework.jpg');
}
.coursework2{
    background-image: url('../img/coursework1.jpg');
}
.coursework3{
    background-image: url('../img/coursework2.jpg');
}
.review1{
    background-image: url("../img/review.jpg");
}
.review2{
    background-image: url("../img/review1.jpg");
}
.review3{
    background-image: url("../img/review2.jpg");
}
@media(max-width: 1000px) {
    .banner{
        width: 70%;
    }
    .display{
        width: 30%;
    }
    .banner{
        padding: 0 2%;
    }
    .banner h2{
        font-size: 18px;
        line-height: .4;
    }
    .banner p{
        font-size: 12px;
    }
}
@media(max-width: 750px) {
    .banner{
        width: 65%;
    }
    .display{
        width: 35%;
    }
    .services .card .view{
        height: 150px;
    }
    .services .card .box p {
        font-size: 15px;
    }
    .banner{
        padding: 0 3%;
    }
    .banner h2{
        font-size: 20px;
        line-height: .9;
    }
    .banner p{
        font-size: 12px;
    }
}
@media(max-width: 550px) {
    .showcase{
        margin: auto;
    }
    .banner{
        width: 50%;
        padding: 5% 10%;
    }
    .display{
        width: 50%;
    }
    .services .card .view{
        height: 120px;
    }
    .banner{
        padding: 0 2%;
    }
    .banner h2{
        font-size: 18px;
        line-height: 1;
    }
    .banner p{
        font-size: 12px;
    }
}
@media(max-width: 400px) {
    .showcase{
        display: grid;
    }
    .banner{
        width: 95%;
        padding: 10% 5%;
        margin: auto;
        margin-bottom: 0 ;
    }
    .display{
        display: none;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
    .card{
        width: 95%;
        margin: auto;
        margin-top: 20px;
    }
    .display{
        width: 80%;
        margin: auto;
    }
    .formBtn{
        display: block;
        background-color: blueviolet;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 40%;
        border-radius: 20px;
        height: 30px;
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        padding: 7px;
        animation-name: btn;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes btn {
    form{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}
